*,::before,::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:monospace;
    width:100%;
}
main{
    border:1px solid red;
    width:80%;
    margin:20px auto;
    padding:20px;
}
#welcome{
    width:100%;
    margin:5rem 0;
}
h1,p{
    text-align: center;
    margin-bottom: 30px;
}
p{
    font-size:16px;
}
input[type="text"]{
    margin-left:15rem;
    width:50%;
    padding:10px;
    text-align:center;
    outline:none;
    border-radius:5px;
    border:1px solid #000;
}
#quizzes{
    display: none;
}
    
#quizzes h1{
    text-decoration: underline;
}
li{
    list-style-type: none;
    font-size:16px;
}
ul{
    margin:15px;
}
h3{
    font-size:18px;
}
input[type="radio"]{
    margin-right:7px;
}
